<% include ../../partials/header.ejs %>


<form action="" method="POST">
    <div id="button_well_placed">
    <div class="colortext">Votre nom d'utilisateur (reçu par courriel)</div>
   
    <input class="input" type="text">
    <br>
    <br>

    <div class="colortext">Votre mot de passe (reçu par courriel)</div>
    
    <input class="input" type="password" minlength="8" maxlength="16">
    <br>
    <br>
    <a href="MonEspace"><input type="button" name="" class="input" value="Accéder à mon espace"></a>
</div>
</form>

<div class="inner-page-banner">
</div>
<% include ../../partials/footer %>
