<% include ../partials/header.ejs %>
<form action="" method="POST">
    <input type="text">Entrez votre nom d'utilisateur (reçu par courriel)
    <br>
    <input type="password" minlength="8" maxlength="16">Entrez votre mot de passe (reçu par courriel)
    <br>
    <input type="submit" value="Accéder à mon espace">
</form>
<% include ../partials/footer %>