<% include ../../partials/header.ejs %>
<div class="inner-page-banner">
<form action="" method="POST">
    <input type="text">Entrez votre nom d'utilisateur (reçu par courriel)
    <br>
    <input type="password" minlength="8" maxlength="16">Entrez votre mot de passe (reçu par courriel)
    <br>
    <a href="espaceuser.ejs"><input type="submit" value="Accéder à mon espace"></a>
</form>
</div>
<% include ../../partials/footer %>