!<!DOCTYPE html>
<html>
    <% include ../../partials/header.ejs %>
    
    <div id="bouton_centre">
        <a href="MonEsapce/Selection_Activites"><input type="button" value="sélectionnez vos sports"></a><!--lien mort-->
        <br>
        <a href="MonEspace/Questionnaire_Sante"><input type="button" value="accéder au questionnaire santé (à remplir une fois par an)."></a>
        <br>
        <br>
        <br>
        <br>
        <div id="info_sport_user">
            vos activités
        </div>
    </div>
    <div class="inner-page-banner">
    </div>
    <% include ../../partials/footer %>
</html>