!<!DOCTYPE html>
<html>
    <% include ../../partials/header.ejs %>
    
    <div id="bouton_centre">
        <a href="MonEsapce/Form2"><input type="submit" value="sélectionnez vos sports"></a>
    </div>
    <div class="inner-page-banner">
    </div>
    <% include ../../partials/footer %>
</html>