!<!DOCTYPE html>
<html>
    <% include ../../partials/header.ejs %>
    <body>
        <a href="/user/form2"><input type="submit" value="sélectionnez vos sports"></a>
    </body>
    <% include ../../partials/footer %>
</html>