!<!DOCTYPE html>
<html>
    <% include ../../partials/header.ejs %>
    
    <div id="bouton_centre">
        <a href="MonEsapce/Form2"><!--<input type="button" value="sélectionnez vos sports">-->sélectionnez vos sports</a>
    </div>
    <div class="inner-page-banner">
    </div>
    <% include ../../partials/footer %>
</html>