!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sélection de vos activités</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../../../css/form2.css" />
    </head>
    <body>
        <form method="post" action="">
            <fieldset>
                choisissez votre/vos acitvité(s)
                <br>
            <!--1-->    <input type="checkbox" name="activités" value="Aérobic-LIA">Aérobic-LIA<a href="../activites/activite_aerobic-LIA.ejs" target="_blank">Pour en savoir plus</a>
            <br>
            <!--2-->    <input type="checkbox" name="activités" value="Aérobic abdos-fessiers">Aérobic abdos-fessiers<a href="/activites/activite_2" target="_blank">Pour en savoir plus</a>
            <br>
            <!--3-->    <input type="checkbox" name="activités" value="Aquabiking">Aquabiking<a href="/activites/activite_3" target="_blank">Pour en savoir plus</a>
            <br>
            <!--4-->    <input type="checkbox" name="activités" value="Aquagym">Aquagym<a href="/activites/activite_4" target="_blank">Pour en savoir plus</a>
            <br>
            <!--5-->    <input type="checkbox" name="activités" value="Aquamix">Aquamix<a href="/activites/activite_5" target="_blank">Pour en savoir plus</a>
            <br>
            <!--6-->    <input type="checkbox" name="activités" value="Body Fit">Body Fit<a href="/activites/activite_6" target="_blank">Pour en savoir plus</a>
            <br>
            <!--7-->    <input type="checkbox" name="activités" value="Body Soft">Body Soft<a href="/activites/activite_7" target="_blank">Pour en savoir plus</a>
            <br>
            <!--8-->    <input type="checkbox" name="activités" value="Body Zen">Body Zen<a href="/activites/activite_8" target="_blank">Pour en savoir plus</a>
            <br>
            <!--9-->    <input type="checkbox" name="activités" value="Etirements">Etirements<a href="/activites/activite_9" target="_blank">Pour en savoir plus</a>
            <br>
            <!--10-->    <input type="checkbox" name="activités" value="Gym Cardio-LIA">Gym Cardio-LIA<a href="/activites/activite_10" target="_blank">Pour en savoir plus</a>
            <br>
            <!--11-->    <input type="checkbox" name="activités" value="Gym Cardio Muscu">Gym Cardio Muscu<a href="/activites/activite_11" target="_blank">Pour en savoir plus</a>
            <br>
            <!--12-->    <input type="checkbox" name="activités" value="Gym Douce">Gym Douce<a href="/activites/activite_12" target="_blank">Pour en savoir plus</a>
            <br>
            <!--13-->    <input type="checkbox" name="activités" value="Gym Form Tonic">Gym Form Tonic<a href="/activites/activite_13" target="_blank">Pour en savoir plus</a>
            <br>
            <!--14-->    <input type="checkbox" name="activités" value="Gym Jazz">Gym Jazz<a href="/activites/activite_14" target="_blank">Pour en savoir plus</a>
            <br>
            <!--15-->    <input type="checkbox" name="activités" value="Gym Tonic">Gym Tonic<a href="/activites/activite_15" target="_blank">Pour en savoir plus</a>
            <br>
            <!--16-->    <input type="checkbox" name="activités" value="Gym Tonic + Etirements">Gym Tonic + Etirements<a href="/activites/activite_16" target="_blank">Pour en savoir plus</a>
            <br>
            <!--17-->    <input type="checkbox" name="activités" value="Marche Exercice">Marche Exercice<a href="/activites/activite_17" target="_blank">Pour en savoir plus</a>
            <br>
            <!--18-->    <input type="checkbox" name="activités" value="Muscu avec appareils">Muscu avec appareils<a href="/activites/activite_18" target="_blank">Pour en savoir plus</a>
            <br>
            <!--19-->    <input type="checkbox" name="activités" value="Natation">Natation<a href="/activites/activite_19" target="_blank">Pour en savoir plus</a>
            <br>
            <!--20-->    <input type="checkbox" name="activités" value="Pilates">Pilates<a href="/activites/activite_20" target="_blank">Pour en savoir plus</a>
            <br>
            <!--21-->    <input type="checkbox" name="activités" value="Pilates avec ballons">Pilates avec ballons<a href="/activites/activite_21" target="_blank">Pour en savoir plus</a>
            <br>
            <!--22-->    <input type="checkbox" name="activités" value="Piloxing">Piloxing<a href="/activites/activite_22" target="_blank">Pour en savoir plus</a>
            <br>
            <!--23-->    <input type="checkbox" name="activités" value="Qi Gong">Qi Gong<a href="/activites/activite_23" target="_blank">Pour en savoir plus</a>
            <br>
            <!--24-->    <input type="checkbox" name="activités" value="Renforcement Musculaire Profond">Renforcement Musculaire Profond<a href="/activites/activite_24" target="_blank">Pour en savoir plus</a>
            <br>
            <!--25-->    <input type="checkbox" name="activités" value="Scult Gym">Scult Gym<a href="/activites/activite_25" target="_blank">Pour en savoir plus</a>
            <br>
            <!--26-->    <input type="checkbox" name="activités" value="Scult Gym Stretch">Scult Gym Stretch<a href="/activites/activite_26" target="_blank">Pour en savoir plus</a>
            <br>
            <!--27-->    <input type="checkbox" name="activités" value="Sophrologie">Sophrologie<a href="/activites/activite_27" target="_blank">Pour en savoir plus</a>
            <br>
            <!--28-->    <input type="checkbox" name="activités" value="Stretching">Stretching<a href="/activites/activite_28" target="_blank">Pour en savoir plus</a>
            <br>
            <!--29-->    <input type="checkbox" name="activités" value="Tai Chi">Tai Chi<a href="/activites/activite_29" target="_blank">Pour en savoir plus</a>
            <br>
            <!--30-->    <input type="checkbox" name="activités" value="Yoga">Yoga<a href="/activites/activite_30" target="_blank">Pour en savoir plus</a>
        </fieldset>
        <input type="submit" value="validez votre sélection">        
    </form>
    </body>
</html>