fieldset{
	border-radius: 15px;
	border-color: #4169E1;
}
input{
    color: #4169E1;
}
.colortext{
    color: #4169E1;
}
.espacement{
	padding: 20px;
}
#centerbutton{
    display: block;
    margin : auto;

}


body{
	background-image: url(../images/logo/logo_agfn_opaque.png);
	background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;   
}