<!DOCTYPE html>
<html>
	<head>
		<title>règlement</title>
		<meta charset="utf-8">
	</head>
	<body>
		<fieldset>
			<div id="a_centrer">
				<h1><b>Règlement intérieur de l'AGFN<br>(Association de Gymnastique Familiale Nîmoise</b></h1>
			</div>
			<p>
				<b>Préambule</b>
				<br>
				L'AGFN est une association loi 1901, au service de ses adhérents.<br>Elle a pour objet d'organiser et de développer la pratique d'activités physiques dans une véritable démarche préventive de santé publique aidant chaque personne à gérer au mieux son capital santé en luttant contre les méfaits de la sédentarité, de l'obésité et de la solitude.<br>L'AGFN fonde son action, à tous les niveaux de son organisation, sur les valeurs et orientations basées sur les principes de laïcité et d'humanisme.
			</p>
			<p>
				<b>Article 1: Objet</b>
				<br>
				Le présent règlement intérieur a pour objet de préciser les conditions générales et particulières d'accès aux activités proposées par l'AGFN afin d'optimiser leur fréquentation et de favoriser leur accès au plus grand nombre d'adhérents.<br>Il a aussi pour but de garantir l'intégrité des personnes et des biens au sein des équipements sportifs mis à disposition par la ville de Nîmes.
			</p>
			<p>
				<b>Article 2: Conditions d'accès et d'utilisation des équipements</b>
				<br>
				L'AGFN bénéficie de la mise à disposotion des installations sportives par la Direction des Sports de la ville de Nîmes. Par conséquent, les adhérents et les salariés de l'AGFN doivent respecter les dispositions du <a href="https://www.nimes.fr/fileadmin/directions/DIVAQ/pdf/commun/Reglement_salles_CSCS.pdf">rèlement intérieur de la Ville de Nîmes</a> concernant ses équipements sportifs.
				<br>
				<ul>
					<li>Le calendrier des activités de l'AGFN, fixé en début d'année scolaire, tient compte du calendrier de la Direction des Sports de la Ville de Nîmes avant chaque saison sportive. Des circonstances exceptionnelles peuvent amener cette dernière à modifier temporairement et unilatéralement le calendrier d'utilisation de ses installations et même en interdire l'accès. Dans ce cas, la responsabilité de l'AGFN ne peut être mise en cause. Aucune indemnisation ni compensation ne peut être réclamée.</li>
					<br>
					<li>Pendant les vacances scolaires, aucun cours en salle n'est dispensé par l'AGFN.</li>
					<br>
					<li>L'accès aux installations sportives est exclusivement réservé aux adhérents à jour de leur cotisation, pour les créneaux horaires choisis lors de leur inscription. Ces adhérents doivent être accompagnées de l'animateur en charge de la séance ou d'un responsable de cours désigné par le bureau de l'AGFN.</li>
					<br>
					<li>Toute personne non inscrite à un cours, n'y est pas admise. Dans le cas contraire, elle s'expose à une sanction qui peut aller du simple avertissement jusqu'à l'exclusion de l'association sans dédommagement.</li>
				</ul>
			</p>
			<p>
				<b>Article 3: Modalité d'utilisation des équipements</b>
				<ul>
					<li>
						Pour la pratique des activités en salle et gymnase, une tenue adéquateà l'activité est attendue, et les chaussures de ville sont interdites;
						<ul>
							<li>Des chaussures à semelles souples de type tennis ou basket spécialement dédiées à la salle de sport et non portées à l'exterieur des équipements</li>
							<li>Des vêtements adaptés à la pratique d'activités sportives (short, jogging, tee-shirt, brassière, maillot de bain, etc.)</li>
						</ul>
					</li>
					<li>
						les adhérents doivent adopter une attitude respectueuse envers:
						<ul>
							<li>les personnels municipaux</li>
							<li>l'animateur</li>
							<li>les dirigeants de l'AGFN</li>
							<li>les autres personnes participant à la séance</li>
						</ul>
					</li>
					<li>
						Cette attitude doit se manifester nottament par:
						<ul>
							<li>la politesse</li>
							<li>le respect le l'heure de début de séance</li>
							<li>le changement de tenue obligatoire dans les vestiaires</li>
							<li>l'absence de bavardages et de manifestations intempestives</li>
							<li>des téléphones portables éteints</li>
							<li>le respect de l'état de propreté des sanitaires et des vestiaires</li>
							<li>la participation au rangement du matériel après utilisation</li>
						</ul>
					</li>
					<li>
						Durant les séances assurées par l'AGFN, sont interdits:
						<ul>
							<li>les réunions ou propagandes d'ordre politique, religieux ou confessionnel</li>
							<li>les quêtes</li>
							<li>la distribution de tracts à carractère commercial et non sportif</li>
						</ul>
					</li>
					<li>L'AGFN ne peut être tenue responsable en cas de vol de matériel ou d'effets personnels laissés sur place sans surveillance par les adhérents, y compris dans les vestiaires</li>
				</ul>
			</p>
			<div id="a_mettre_a_droite"><p>Fait à Nîmes, le 19 Juin 2018</p></div>
		</fieldset>
		<fieldset><input type="radio" name="reg_valid" id="ok" onclick="document.getElementById('suivant').disabled=false">J'ai lu et j'accepte les termes du règlement intérieur
		<input type="radio" name="reg_valid" id="pas_ok" checked onclick="document.getElementById('suivant').disabled=true">J'ai lu mais je refuse les termes du règlement intérieur
		<br>
		<a href="/inscription/CGU"><input type="submit" id="suivant" disabled value="page suivante"></a>
		</fieldset>
	</body>
</html>