!<!DOCTYPE html>
<html>
    <% include ../partials/header.ejs %>
    <body>
        <form method="post" action="">
            <input type="text"> Entrez votre nom d'utilisateur (reçu via votre courriel)
            <input type="password" minlength="8" maxlength="16"> Entrez votre mot de passe (reçu via votre courriel)
            <a href="/connexion/form2"><input type="submit" value="sélectionnez vos sports"></a>
    </form>
    </body>
    <% include ../partials/footer %>
</html>