<!-- #gallery --
<section id="gallery">
  <div class="container">
    <ul id="myRoundabout">
      <li><img src="images/slide3.jpg" alt=""></li>
      <li><img src="images/slide2.jpg" alt=""></li>
      <li><img src="images/slide5.jpg" alt=""></li>
      <li><img src="images/slide1.jpg" alt=""></li>
      <li><img src="images/slide4.jpg" alt=""></li>
    </ul>
  </div>
</section>
!-- /#gallery -->
<div class="main-box">
    <div class="container">
      <div class="inside">
        <div class="wrapper">

          

          <!-- aside -->
          <!--BLOC DE GAUCHE-->
          <aside>
            <!--FLASH INFO-->
            <div>
            <h2>Flash <span>Info</span></h2>
            <!-- .news -->
            <ul class="news">

              <li>
                <figure><strong>42</strong>Lorem</figure>
                <h3><a href="">Sed ut perspiciatis unde</a></h3>
                Domnis iste natus error sit voluptam accusa doloremque <a href="">...</a>
              </li>

              <li>
                <figure><strong>42</strong>Lorem</figure>
                <h3><a href="">Totam rem aperiam</a></h3>
                Eaqueipsa quae abillo inventoretis et quasi architecto beatae <a href="">...</a>
              </li>

              <li>
                <figure><strong>42</strong>Lorem</figure>
                <h3><a href="">Inventore veritatis et quasi</a></h3>
                Architecto beatae vitae dicta sunt explicabo <a href="">...</a>
              </li>

              <li>
                <figure><strong>42</strong>Lorem</figure>
                <h3><a href="">Nemo enim ipsam</a></h3>
                Voluptatem quia voluptas sit asper natur aut odit aut fugit <a href="">...</a>
              </li>

            </ul>
            <!-- /.news -->
            </div>

            <br/>
            <br/>
            <br/>

            <!--LES PARTENAIRES-->
            <div class="partenaires">
              <h2>Nos <span>partenaires</span></h2>

              <p><img src="images/parteraires/logo1.jpg"></p>
              <p><img src="images/parteraires/logo2.jpg"></p>
              <p><img src="images/parteraires/logo3.1.png"></p>
              <p><img src="images/parteraires/logo3.2.jpg"></p>
              <p><img src="images/parteraires/logo4.png"></p>

            </div>

          </aside>
