<!-- header -->
<header>
  <div class="container">
    <h1><a href="/">A G F N</a></h1>
    <nav>
      <ul>
        <li><a href="/activites">Activités</a></li>
        <li><a href="/lieux">Lieux</a></li>
        <li><a href="/bureau" class="current">Bureau</a></li>
        <li><a href="/animateurs">Animateurs</a></li>
        <li><a href="/connexion">Connexion</a></li>
        <li><a href="/inscription">Inscription</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- /header -->