          </div>
        </div>
      </div>
    </div>


    <!-- footer -->
    <footer>
      <div class="container">
        <div class="wrapper">
          <div class="fleft">Copyright - Mix & Build &nbsp; &nbsp; |&nbsp; &nbsp; <a href="https://www.intechinfo.fr/" target="_blank">In'tech sud Nîmes</a></div>
          <div class="fright">Association loi 1901 &nbsp; &nbsp; |&nbsp; &nbsp; <a href="/contact">Nous contacter</a></div>
        </div>
      </div>
    </footer>
    <script type="text/javascript"> Cufon.now(); </script> 
    
  </body>
</html>
