<% include ../../partials/header_2.ejs %>
<div class="inner-page-banner"></div> 
          <div class="main-heading sytle-2">
            <h2>Aquabiking</h2>
          </div>
          <p><a href="/lieux/lieu_Body_Pur" >Body Pur</a></p>
          
          <section><img src="../../images/activites_description/aerobic_lia.jpg"></a></section>

<% include ../../partials/footer_2 %>