<% include ../../partials/header_2.ejs %>
<div class="inner-page-banner"></div> 
<div class="main-heading sytle-2">
        <h2>Muscu avec Appareils</h2>
  </div>
  
  <p><a href="/lieux/lieu_Jean-Bouin" >Salle Jean Bouin</a></p>
  
  
  <section><img src="../../images/activites_description/aerobic_lia.jpg"></a></section>
<% include ../../partials/footer_2 %>