<% include ../../partials/header_2.ejs %>
<div class="inner-page-banner"></div>          
<div class="team-holder theme-padding">
   <div class="container">
      <div class="main-heading-holder">
         <div class="main-heading sytle-2">
            <h2>Aerobic - LIA</h2>
            <p><a href="/lieux/1" >Philippe Lamour</a></p>
         </div>
         <section><img src="../../images/activites_description/aerobic_lia.jpg"></a></section>

      </div>
 </div>
<% include ../../partials/footer_2.ejs %>