<% include ../partials/header.ejs %>

<div class="inner-page-banner"></div>

<div class="liste_activites">
      <div class="premiere_ligne">
            <section class="aerobic-LIA"><a href="/activites/aerobic-LIA"><img src="../images/Activites/Aerobic_LIA.jpg"><p>Aerobic-LIA</p></a></section>
            <section class="aerobic_abs"><a href="/activites/aerobic_abdos-fessiers"><img src="../images/Activites/Aerobic_Abdos-Fessiers.jpg"><p>Aerobic Abdos-Fessiers</p></a></section>
            <section class="aquabiking"><a href="/activites/aquabiking"><img src="../images/Activites/Aquabiking.jpg"><p>Aquabiking</p></a></section>
      </div>
      <div class="deuxieme_ligne">
            <section class="aquagym"><a href="/activites/aquagym"><img src="../images/Activites/Aquagym.jpg"><p>Aquagym</p></a></section>  
            <section class="aquamix"><a href="/activites/aquamix"><img src="../images/Activites/aquamix.jpg"><p>Aquamix</p></a></section>
            <section class="body_fit"><a href="/activites/body_fit"><img src="../images/Activites/Body_Fit2.jpg"><p>Body Fit</p></a></section>
      </div>
      <div class="troisieme_ligne">
            <section class="body_soft"><a href="/activites/body_soft"><img src="../images/Activites/Body_Soft.jpg"><p>Body Soft</p></a></section>
            <section class="body_zen"><a href="/activites/body_zen"><img src="../images/Activites/Body_Zen.jpg"><p>Body Zen</p></a></section>
            <section class="etirements"><a href="/activites/etirements"><img src="../images/Activites/Etirements.jpg"><p>Etirements</p></a></section>
      </div>
      <div class="quatrieme_ligne">
            <section class="gym_cardio_LIA"><a href="/activites/gym_cardio-LIA"><img src="../images/Activites/Gym_Cardio_LIA.jpg"><p>Gym Cardio-LIA</p></a></section>
            <section class="gym_cardio_muscu"><a href="/activites/gym_cardio-muscu"><img src="../images/Activites/Gym_Cardio-Muscu.jpg"><p>Gym Cardio-Muscu</p></a></section>
            <section class="gym_douce"><a href="/activites/gym_douce"><img src="../images/Activites/Gym_Douce.jpg"><p>Gym Douce</p></a></section>
      </div>
      <div class="cinquieme_ligne">
            <section class="gym_form_tonic"><a href="/activites/gym_form_tonic"><img src="../images/Activites/Gym_Form_Tonic.jpg"><p>Gym Form Tonic</p></a></section>
            <section class="gym_jazz"><a href="/activites/gym_jazz"><img src="../images/Activites/Gym_Jazz.jpg"><p>Gym Jazz</p></a></section>
            <section class="gym_tonic"><a href="/activites/gym_tonic"><img src="../images/Activites/Gym_tonic.jpg"><p>Gym Tonic</p></a></section>
      </div>
      <div class="sixieme_ligne">
            <section class="gym_tonic_etirements"><a href="/activites/gym_tonic_etirements"><img src="../images/Activites/Gym_tonic__etirements.jpg"><p>Gym Tonic + Etirements</p></a></section>
            <section class="marche_exercice"><a href="/activites/marche_exercice"><img src="../images/Activites/Marche_Exercice.jpg"><p>Marche Exercice</p></a></section>
            <section class="muscu_appareils"><a href="/activites/muscu_avec_appareils"><img src="../images/Activites/Muscu_avec_appareils.jpg"><p>Muscu avec appareils</p></a></section>
      </div>
      <div class="septieme_ligne">
            <section class="natation"><a href="/activites/natation"><img src="../images/Activites/Natation.jpg"><p>Natation</p></a></section>
            <section class="pilates"><a href="/activites/pilates"><img src="../images/Activites/Pilates.jpg"><p>Pilates</p></a></section>
            <section class="pilates_ballons"><a href="/activites/Pilates_avec_ballon"><img src="../images/Activites/Pilates_avec_ballon.jpg"><p>Pilates avec ballons</p></a></section>
      </div>
      <div class="huitieme_ligne">
            <section class="piloxing"><a href="/activites/piloxing"><img src="../images/Activites/Piloxing.jpg"><p>Piloxing</p></a></section>
            <section class="qi_gong"><a href="/activites/qi_gong"><img src="../images/Activites/Qi_Gong.jpg"><p>Qi Gong</p></a></section>
            <section class="renfo_muscu"><a href="/activites/Renforcement_musculaire_profond"><img src="../images/Activites/Renforcement_musculaire_profond.jpg"><p>Renforcement musculaire profond</p></a></section>
      </div>
      <div class="neuvieme_ligne">
            <section class="scult_gym"><a href="/activites/scult_gym"><img src="../images/Activites/Scult_Gym.jpg"><p>Scult Gym</p></a></section>
            <section class="scult_gym_stretch"><a href="/activites/scult_gym_stretch"><img src="../images/Activites/Scult_Gym_Stretch.jpg"><p>Scult Gym Stretch</p></a></section>
            <section class="sophrologie"><a href="/activites/sophrologie"><img src="../images/Activites/Sophrologie.jpg"><p>Sophrologie</p></a></section>
      </div>
      <div class="dixieme_ligne">
            <section class="stretching"><a href="/activites/stretching"><img src="../images/Activites/Stretching.jpg"><p>Stretching</p></a></section>
            <section class="tai_chi"><a href="/activites/tai-chi"><img src="../images/Activites/Tai-Chi.jpg"><p>Tai-Chi</p></a></section>
            <section class="yoga"><a href="/activites/yoga"><img src="../images/Activites/Yoga.jpg"><p>Yoga</p></a></section>
      </div>
</div>

<% include ../partials/footer %> 