<% include ../partials/tete %>

<% include ../partials/header-activites %>

<% include ../partials/aside %>


<section id="content">
  
    <article>
      <h2>Nos <span>activités</span></h2>

      <p>Ici un sommaire</p>
  
  
    </article>
  
  </section>

<% include ../partials/pied %>