<% include ../partials/header.ejs %>

<div class="inner-page-banner"></div>

<div class="liste_activites">
      <div class="premiere_ligne">
            <section class="aerobic-LIA"><a href="/activites/aerobic-LIA"><img src="../images/Activites/Aerobic_LIA.jpg"><p>Aerobic-LIA</p></a></section>
            <section class="aerobic_abs"><img src="../images/Activites/Aerobic_Abdos-Fessiers.jpg"><p>Aerobic Abdos-Fessiers</p></section>
            <section class="aquabiking"><img src="../images/Activites/Aquabiking.jpg"><p>Aquabiking</p></section>
      </div>
      <div class="deuxieme_ligne">
            <section class="aquagym"><img src="../images/Activites/Aquagym.jpg"><p>Aquagym</p></section>  
            <section class="aquamix"><img src="../images/Activites/aquamix.jpg"><p>Aquamix</p></section>
            <section class="body_fit"><img src="../images/Activites/Body_Fit2.jpg"><p>Body Fit</p></section>
      </div>
      <div class="troisieme_ligne">
            <section class="body_soft"><img src="../images/Activites/Body_Soft.jpg"><p>Body Soft</p></section>
            <section class="body_zen"><img src="../images/Activites/Body_Zen.jpg"><p>Body Zen</p></section>
            <section class="etirements"><img src="../images/Activites/Etirements.jpg"><p>Etirements</p></section>
      </div>
      <div class="quatrieme_ligne">
            <section class="gym_cardio_LIA"><img src="../images/Activites/Gym_Cardio_LIA.jpg"><p>Gym Cardio-LIA</p></section>
            <section class="gym_cardio_muscu"><img src="../images/Activites/Gym_Cardio-Muscu.jpg"><p>Gym Cardio-Muscu</p></section>
            <section class="gym_douce"><img src="../images/Activites/Gym_Douce.jpg"><p>Gym Douce</p></section>
      </div>
      <div class="cinquieme_ligne">
            <section class="gym_form_tonic"><img src="../images/Activites/Gym_Form_Tonic.jpg"><p>Gym Form Tonic</p></section>
            <section class="gym_jazz"><img src="../images/Activites/Gym_Jazz.jpg"><p>Gym Jazz</p></section>
            <section class="gym_tonic"><img src="../images/Activites/Gym_tonic.jpg"><p>Gym Tonic</p></section>
      </div>
      <div class="sixieme_ligne">
            <section class="gym_tonic_etirements"><img src="../images/Activites/Gym_tonic__etirements.jpg"><p>Gym Tonic + Etirements</p></section>
            <section class="marche_exercice"><img src="../images/Activites/Marche_Exercice.jpg"><p>Marche Exercice</p></section>
            <section class="muscu_appareils"><img src="../images/Activites/Muscu_avec_appareils.jpg"><p>Muscu avec appareils</p></section>
      </div>
      <div class="septieme_ligne">
            <section class="natation"><img src="../images/Activites/Natation.jpg"><p>Natation</p></section>
            <section class="pilates"><img src="../images/Activites/Pilates.jpg"><p>Pilates</p></section>
            <section class="pilates_ballons"><img src="../images/Activites/Pilates_avec_ballon.jpg"><p>Pilates avec ballons</p></section>
      </div>
      <div class="huitieme_ligne">
            <section class="piloxing"><img src="../images/Activites/Piloxing.jpg"><p>Piloxing</p></section>
            <section class="qi_gong"><img src="../images/Activites/Qi_Gong.jpg"><p>Qi Gong</p></section>
            <section class="renfo_muscu"><img src="../images/Activites/Renforcement_musculaire_profond.jpg"><p>Renforcement musculaire profond</p></section>
      </div>
      <div class="neuvieme_ligne">
            <section class="scult_gym"><img src="../images/Activites/Scult_Gym.jpg"><p>Scult Gym</p></section>
            <section class="scult_gym_stretch"><img src="../images/Activites/Scult_Gym_Stretch.jpg"><p>Scult Gym Stretch</p></section>
            <section class="sophrologie"><img src="../images/Activites/Sophrologie.jpg"><p>Sophrologie</p></section>
      </div>
      <div class="dixieme_ligne">
            <section class="stretching"><img src="../images/Activites/Stretching.jpg"><p>Stretching</p></section>
            <section class="tai_chi"><img src="../images/Activites/Tai-Chi.jpg"><p>Tai-Chi</p></section>
            <section class="yoga"><img src="../images/Activites/Yoga.jpg"><p>Yoga</p></section>
      </div>
</div>

<% include ../partials/footer %> 