<% include ../partials/tete %>

<% include ../partials/header-animateurs %>

<% include ../partials/aside %>

<section id="content">
  
    <article>
      <h2>Nos <span>animateurs</span></h2>

      <p>Ici un trombi</p>
  
  
    </article>
  
  </section>

<% include ../partials/pied %>