<% include ../partials/header.ejs %>
         <div class="inner-page-banner"></div>          
         <div class="team-holder theme-padding">
            <div class="container">
               <div class="main-heading-holder">
                  <div class="main-heading sytle-2">
                     <h2>Animateurs</h2>
                     <p>Présentation</p>
                  </div>
               </div>
               <div id="team-slider">
                  <div class="container">
                     <div class="col-md-3">
                        <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg"" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre 1</div>
                              <h5>xx xx</h5>
                              <span class="player-number">1</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg"" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre 2</div>
                              <h5>xx xx</h5>
                              <span class="player-number">2</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg"" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre 3</div>
                              <h5>xx xx</h5>
                              <span class="player-number">3</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre 4</div>
                              <h5>xx xx</h5>
                              <span class="player-number">4</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                           <div class="team-column style-2">
                              <img src="images/alexis_jar.jpg" alt="">
                              <div class="player-name">
                                 <div class="desination-2">Membre 5</div>
                                 <h5>xx xx</h5>
                                 <span class="player-number">5</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3">
                              <div class="team-column style-2">
                                 <img src="images/alexis_jar.jpg" alt="">
                                 <div class="player-name">
                                    <div class="desination-2">Membre 6</div>
                                    <h5>xx xx</h5>
                                    <span class="player-number">6</span>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-3">
                                 <div class="team-column style-2">
                                    <img src="images/alexis_jar.jpg" alt="">
                                    <div class="player-name">
                                       <div class="desination-2">Membre 7</div>
                                       <h5>xx xx</h5>
                                       <span class="player-number">7</span>
                                    </div>
                                 </div>
                              </div>
                           <div class="col-md-3">
                              <div class="team-column style-2">
                                 <img src="images/alexis_jar.jpg" alt="">
                                    <div class="player-name">
                                       <div class="desination-2">Membre 8</div>
                                       <h5>xx xx</h5>
                                       <span class="player-number">8</span>
                                    </div>
                              </div>
                           </div>
                        <div class="col-md-3">
                           <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre 9</div>
                              <h5>xx xx</h5>
                              <span class="player-number">9</span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                           <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre 10</div>
                              <h5>xx xx</h5>
                              <span class="player-number">10</span>
                           </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                           <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre 11</div>
                              <h5>xx xx</h5>
                              <span class="player-number">11</span>
                           </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                           <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre 12</div>
                              <h5>xx xx</h5>
                              <span class="player-number">12</span>
                           </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                           <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre 13</div>
                              <h5>xx xx</h5>
                              <span class="player-number">13</span>
                           </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                           <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre 14</div>
                              <h5>xx xx</h5>
                              <span class="player-number">14</span>
                           </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                           <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre 15</div>
                              <h5>xx xx</h5>
                              <span class="player-number">15</span>
                           </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                           <div class="team-column style-2">
                           <img src="images/alexis_jar.jpg" alt="">
                           <div class="player-name">
                              <div class="desination-2">Membre Bonus</div>
                              <h5>xx xx</h5>
                              <span class="player-number">bonus</span>
                           </div>
                        </div>
                      </div>
                  </div>
               </div>
            </div>
         </div>
   <% include ../partials/footer %>