<% include ../partials/tete %>

<% include ../partials/header-bureau %>

<% include ../partials/aside %>

<section id="content">
  
    <article>
      <h2>Les membres du <span>bureau</span></h2>

      <p>Ici un trombi</p>
  
  
    </article>
  
  </section>

<% include ../partials/pied %>