<% include ../partials/header.ejs %>
         <div class="inner-page-banner"></div>
         <div class="membres_bureau">
            <section class="president"><img src="../images/alexis_jar.jpg"><p>Colette Verbiguié <br />Présidente</p></section>
            <section class="membre_1"><img src="../images/alexis_jar.jpg"><p>Membre 1<br />xxxx</p></section>
            <section class="membre_2"><img src="../images/alexis_jar.jpg"><p>Membre 2 <br />xxxx</p></section>
            <section class="membre_3"><img src="../images/alexis_jar.jpg"><p>Membre 3 <br />xxxx</p></section>
            <section class="membre_4"><img src="../images/alexis_jar.jpg"><p>Membre 4 <br />xxxx</p></section>
        </div>
   <% include ../partials/footer %>
