<% include ../partials/tete %>

<% include ../partials/header-connexion %>

<% include ../partials/aside %>

<section id="content">
  
    <article>
      

      <p>Portails de connexion</p>
  
  
    </article>
  
  </section>

<% include ../partials/pied %>