<% include ../partials/header.ejs %>
         <div class="inner-page-banner"></div>

         <div class="cadre">
               <p>adresse :</p>
         </div>
         
   <% include ../partials/footer %>