<% include ../partials/tete %>

<% include ../partials/header %>

<% include ../partials/aside %>

<section id="content">
  
    <article>
      <h2>Nous <span>contacter</span></h2>

      <p>Ici une page de contact</p>
  
    </article>
  
  </section>


<% include ../partials/pied %>