<% include ../partials/header.ejs %>

        <div class="full-slider">
            <div id="carousel-example-generic" class="carousel slide" >
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- First slide -->
                    <div class="item active deepskyblue" data-ride="carousel" data-interval="5000"  id="filigrane">
                        <div class="carousel-caption">
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="slider-contant" data-animation="animated fadeInRight">
                                <h3>Bienvenue sur le site de <span class="color-yellow">l'AGFN</span></h3>
                                <p>L’ASSOCIATION DE GYMNASTIQUE FAMILALE NIMOISE est une association loi 1901, affiliée à la FFEPGV 
                                    « Fédération Française d’Education Physique et de Gymnastique Volontaire », fédération qui porte le Sport Santé depuis 1993.  
                                    Par le développement d’activités physiques, la Gymnastique Volontaire est une véritable démarche préventive de santé publique, 
                                    qui aide la population à gérer au mieux son capital santé en luttant contre les méfaits de la sédentarité, de l'obésité et de la solitude. <br/>
                                    Dans cet esprit, l’A.G.F.N : 
                                    <br/>
                                    - Est ouverte à tous dès 16 ans ;
                                    <br />
                                    - Propose de nombreux cours en salle, en plein air, en milieu aquatique accessibles à tous les âges de la vie ;  
                                    <br />
                                    - Est présente près de chez vous  
                                
                                </p>
                            </div>
                            </div>
                        </div>
                    </div>
            <div class="news">
               <div class="container">
                  <div class="heading-slider">
                     <p class="headline"><i class="fa fa-star" aria-hidden="true"></i> Présentation :</p>
                     <a href="" class="typewrite" data-period="2000" data-type='[ "Bienvenue à In`tech Sud Nîmes !", "Ceci est le futur site de l`AGFN"]'>
                     <span class="wrap"></span>
                     </a>                      
                  </div>
                </div>
         </div>
        </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <div class="main-heading sytle-2">
                         <br />
                        <h2>Flash info</h2>
                        <p>Ajouter du contenu<br>supplémentaire</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="video_section_main theme-padding middle-bg vedio">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <div class="match_vedio">
                        <!--<img class="img-responsive" src="images/img-07.jpg" alt="#" />-->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="team-holder theme-padding">
         <div class="container">
            <div class="main-heading-holder">
               <div class="main-heading sytle-2">
                  <h2>Membres du bureau ou animateurs</h2>
                  <p>Sur cette page <br>ou disponible sur une page annexe</p>
               </div>
            </div>
            <div id="team-slider">
               <div class="container">
                  <div class="col-md-3">
                     <div class="team-column style-2">
                        <img src="images/VERBIGUIE_Colette.jpg" alt="">
                        <div class="player-name">
                           <div class="desination-2">Membre 1</div>
                           <h5>xx xx</h5>
                           <span class="player-number">1</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="team-column style-2">
                        <img src="images/Martine_FARGUES.jpg" alt="">
                        <div class="player-name">
                           <div class="desination-2">Membre 2</div>
                           <h5>xx xx</h5>
                           <span class="player-number">2</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="team-column style-2">
                        <img src="images/hugo_marti.jpg" alt="">
                        <div class="player-name">
                           <div class="desination-2">Membre 3</div>
                           <h5>xx xx</h5>
                           <span class="player-number">3</span>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="team-column style-2">
                        <img src="images/alexis_jar.jpg" alt="">
                        <div class="player-name">
                           <div class="desination-2">Membre 4</div>
                           <h5>xx xx</h5>
                           <span class="player-number">4</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
<% include ../partials/footer %>
</html>