<% include ../partials/tete %>

<% include ../partials/header %>

<% include ../partials/aside %>

<!-- content -->
<!--CONTENUE DU LA PAGE-->
<section id="content">
  
  <article>
    <h2>Bienvenue à l'<span>A G F N</span></h2>
    <p>Par le développement d’activités physiques, <b>la Gymnastique Volontaire</b> est une véritable démarche préventive de santé publique, qui aide la population à gérer au mieux son capital santé en luttant contre <b>les méfaits de la sédentarité, de l'obésité et de la solitude.</b></p>
    
    <figure><a href=""><img src="images/Ban.png" alt=""></a></figure>
    
    <div style="text-align:justify">
      <p>Dans cet esprit, l’A.G.F.N : </p>

      <ul style='list-style-type: disc ; list-style-position: inside; text-indent: 15px'>
        <li>Est ouverte à tous dès 16 ans ;</li>
        <li>Propose de nombreux cours en salle, en plein air, en milieu aquatique accessibles à tous les âges de la vie ;</li>
        <li>Est présente près de chez vous.</li>
      </ul>

      <br/>

      <p>Les séances, collectives, sont organisées autour d'exercices de détente, souplesse, coordination et de musculation.
        Par une pratique régulière, elles permettent d'entretenir, votre santé, votre condition physique et trouver un équilibre
        harmonieux de votre corps.</p>

      <p>Nos animateurs sont des professionnels, diplômés et salariés; Ils sont dynamiques, attentifs et contribuent à la progression
            et au bien-être de nos licenciés. </p>

      <p>Les séances de cours sont accessibles après règlement d'une cotisation annuelle, comprenant :</p>

      <ul style='list-style-type: disc ; list-style-position: inside; text-indent: 15px'>
        <li>Une part fixe comprenant la licence sportive FFEPGV, l'assurance MAIF n° 2124996D RC accident et l'adhésion à l'AGFN et
        pour les nouveaux abonnés un droit d'entrée à l'association.</li>
        <li>Une part modulable, chaque activité est à la carte et payable à l'unité pour l'année; à vous d'établir votre MENU.</li>
      </ul>

      <br/>

      <p>Nous vous invitons à découvrir notre site où les informations sont données en temps réel.</p>

      <p>Tous les onglets vous livreront leurs secrets, vous pourrez prendre connaissance du programme 2017/2018 : les cours dans
            les différents sites, nos animateurs, les programmes de randonnées et marche nordique, les stages.</p>
      
    </div>


  </article>

</section> 

<% include ../partials/pied %>