<div class="all">
<% include ../partials/header.ejs %>
        <div class="full-slider">
            <div id="carousel-example-generic" class="carousel slide" >
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- First slide -->
                    <div class="item active deepskyblue" data-ride="carousel" data-interval="5000"  id="filigrane">
                        <div class="carousel-caption">
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                 <div class="slider-contant" data-animation="animated fadeInRight">

                                    <h3>Bienvenue sur le site de <span class="color-green">l'AGFN</span></h3>  
                                                               
                                 </div>   
                              </div>
                            </div>             
                        </div>
         
                        <div id="slideshow">
                           <ul id="sContent">
                             <li><img src="../images/IMG_3065.JPG" alt></li>
                             <li><img src="../images/IMG_3062.JPG" alt></li> 
                             <li><img src="../images/IMG_3059.JPG" alt></li>
                             <li> <img src="../images/CIRQUE_DE_MOUREZE_011.JPG" alt></li>
                             <li> <img src="../images/CIRQUE_DE_MOUREZE_070.JPG" alt></li>
                             <li> <img src="../images/CIRQUE_DE_MOUREZE_071.JPG" alt></li>
                           </ul>
                         </div>
                        <span class="presentation">

                           <p><strong>L’ASSOCIATION DE GYMNASTIQUE FAMILALE NIMOISE - A.G.F.N.- </strong>est une association loi 1901, 
                           affiliée à la FFEPGV « Fédération Française d’Education Physique et de Gymnastique Volontaire », 
                           <br />fédération qui porte le Sport Santé depuis 1993.</p>     

                           <p>Par le développement d’activités physiques, la Gymnastique Volontaire est une véritable 
                           démarche préventive de santé publique, 
                           qui aide la population à gérer au mieux son capital santé en luttant contre les méfaits de la sédentarité, de l'obésité et de la solitude.</p>

                           <p id="liste">
                              Dans cet esprit, l’A.G.F.N : 
                           <br />     
                              <ul class="decalage">
                                 <li>-Est ouverte à tous dès 16 ans ;</li>

                                 <li>-Propose de nombreux cours en salle, en plein air, en milieu aquatique accessibles à tous les âges de la vie ;</li>  

                                 <li>-Est présente près de chez vous</li>   
                              </ul>
                           </p>

                           <p>
                           Les séances, collectives, sont organisées autour d'exercices de détente, souplesse, coordination et de musculation. 
                           Par une pratique régulière, elles permettent d'entretenir, votre santé, 
                           votre condition physique et trouver un équilibre harmonieux de votre corps.
                           </p>

                           <br />
                           <br />

                           <p>
                           Nos animateurs sont des professionnels, diplômés et salariés ; Ils sont dynamiques, attentifs et contribuent à la progression 
                           et au bien-être de nos licenciés. 
                              <br /> 
                           Les séances de cours sont accessibles après règlement d'une cotisation annuelle, comprenant :
                           </p>

                           <p>
                           <ul class="decalage">
                              <li>- une part fixe comprenant la licence sportive FFEPGV, l'assurance MAIF n° 2124996D RC accident et l'adhésion à l'AGFN et pour les nouveaux abonnés un droit d'entrée à l'association.</li> 

                              <li>- une part modulable, chaque activité est à la carte et payable à l'unité pour l'année ; à vous d'établir votre : MENU</li>
                                
                           </ul>
                           </p>
                            
                           <p>
                           Nous vous invitons à découvrir notre site où les informations sont données en temps réel.
                              <br />
                              <br />
                           Tous les onglets vous livreront leurs secrets, vous pourrez prendre connaissance du programme 2017/2018 : 
                              <br />
                              <br />
                           Les cours dans les différents sites, nos animateurs, 
                           les programmes de randonnées et marche nordique, les stages.
                           </p>

                        </span>                        
                    </div>
                  </div>
               </div>
            </div>         
            <div class="news">
               <div class="container">
                  <div class="heading-slider">
                     <p class="headline"><i class="fa fa-star" aria-hidden="true"></i> Présentation :</p>
                     <a href="" class="typewrite" data-period="2000" data-type='[ "Bienvenue à In`tech Sud Nîmes !", "Ceci est le futur site de l`AGFN"]'>
                     <span class="wrap"></span>
                     </a>                      
                  </div>
                </div>
         </div>
        </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <div class="main-heading sytle-2">
                         <br />
                        <h2>Flash info</h2>
                        <br />
                        <p><strong>Suivez en direct</strong><br>Toute l'actualité de l'AGFN !</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="video_section_main theme-padding middle-bg vedio">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <div class="match_vedio">
                        <span style="color: red ; font-size: 35px;"> Alerte INFO !! </span>
                        <p style="font-size: 25px">Les étudiants d'In'tech sud Nîmes ont aujourd'hui un rendez-vous de présentation !</p>
                        <br />
                        <span style="color: red; font-size: 35px;"> Rendez-vous du jour :</span>
                        <p style="font-size: 25px">Sortie à Nemausa</p>
                        <!--<img class="img-responsive" src="images/img-07.jpg" alt="#" />-->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
<% include ../partials/footer %>
</div>
</html>