<% include ../partials/tete %>

<% include ../partials/header-inscription %>

<% include ../partials/aside %>

<section id="content">
  
    <article>
      

      <p>Portail d'inscription</p>
  
  
    </article>
  
  </section>

<% include ../partials/pied %>