<% include ../partials/tete %>

<% include ../partials/header-lieux %>

<% include ../partials/aside %>

<section id="content">
  
    <article>
      <h2>Où nous <span>trouver</span></h2>

      <p>Ici une carte</p>
  
  
    </article>
  
  </section>


<% include ../partials/pied %>