<% include ../partials/header.ejs %>



<!--=============== NE PAS EFFACER ===========================================================================-->

<div class="inner-page-banner" style="border: solid black;">
</div>

<!--==========================================================================================================-->

<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin="">
</script>

<h1>Où nous trouver</h1>

<div id="mapid" 
      style="
      height: 650px; 
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      ">
</div>

</br>

<script>

      var map = L.map('mapid', {
            center: [43.8314, 4.3585],
            zoom: 14 ,
            scrollWheelZoom: false,
            keyboard: false,
      });

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      L.marker([43.8322178, 4.3527032]).addTo(map)
            .bindPopup('Pablo Neruda')
            .openPopup();

      L.marker([43.83376, 4.37439]).addTo(map)
            .bindPopup('Ecole Emile Gauzy')
            .openPopup();
      
      L.marker([43.8463056, 4.3757410]).addTo(map)
            .bindPopup('Jean-Bouin')
            .openPopup();

      L.marker([43.8327609, 4.3853618]).addTo(map)
            .bindPopup('Philippe Lamour')
            .openPopup();
      
      L.marker([43.8168212, 4.3312180]).addTo(map)
            .bindPopup('Saint-Césaire')
            .openPopup();

      L.marker([43.83863, 4.37979]).addTo(map)
            .bindPopup('Salle Equilibre')
            .openPopup();
      
      L.marker([43.8135207, 4.3467941]).addTo(map)
            .bindPopup('Aqua-Tropic')
            .openPopup();

      L.marker([43.81407, 4.31344]).addTo(map)
            .bindPopup('Body Pur')
            .openPopup();
      
      L.marker([43.81822, 4.35868]).addTo(map)
            .bindPopup('Némausa')
            .openPopup();

</script>


<% include ../partials/footer.ejs %>